<app-header></app-header>

<section class="start">
    <div class="container">
        <div class="row star">
            <div class="col-md-6">
<h2>Crack NEET, JEE, and Other
    Popular Competitive Exams with PI Academy </h2>
    <p style="color:#707070;">Get access today to assess yourself!</p>
    <div class="fun">
    <a class="crtbtn1" href="" routerLink="/sign" >Create account now   <img src="../../assets/images/arrow.png" style="padding: 12px;"></a>
    </div>
            </div>
            <div class="col-md-6 star1">
<img src="../../assets/images/banner.png">

            </div>
        </div>
    </div>
</section>



 <section class="practise">
<div class="container">
    <div class="row cards">
        <h2><img src="../../assets/images/practise.png" class="par"><span style="color: #52bd94;">Practice</span> how you want and
            achieve what you want! </h2>
       
<div class="col-md-2 card">
<img src="../../assets/images/par1.png" >
<h4>Previous Year Test Papers </h4>
<p>Know the pattern and level of difficulty of the exam
    by exploring plenty of previous year questions.  </p>
</div>
<div class="col-md-2 card">
    <img src="../../assets/images/par2.svg" >
<h4>Practice Tests</h4>
<p>Level-wise tests at PI Academy boost your confidence
    to tackle the hardest in real-time. </p>
</div>
<div class="col-md-2 card">
    <img src="../../assets/images/par3.png" >
    <h4>Pre-Scheduled Tests </h4>
<p>Attend these pre-scheduled tests to know your mettle
    regarding a particular subject or a topic. </p>
</div>
<div class="col-md-2 card">
    <img src="../../assets/images/par4.png" >
    <h4>Mock Tests</h4>
<p>Know your areas of strengths and weaknesses
    in each subject and each topic.  </p>
</div>
<div class="col-md-2 card">
    <img src="../../assets/images/par5.png" >
    <h4>Custom Tests </h4>
<p>You can create your own tests to get the most out of
    a specific subject of a certain level of difficulty. </p>
</div>

       
    </div>
</div>
 </section>


 <section class="unique">
     <div class="container">
         <div class="row pi">
             <h1 style="padding: 20px;">How <span style="color: #52bd94;">Pi Academy</span> Is Unique?</h1>
             <div class="col-md-4 uniq">
<img src="../../assets/images/uni1.png">
<h3 class="card-title">Ladder of Excellence</h3>
<p>You can choose the level of questions from easy to tough. It allows you to climb the ladder of excellence to gain the ability to deal with the hardest questions in real-time.</p>
             </div>
            
                <div class="col-md-4 uniq">
                    <img src="../../assets/images/uni2.png">
                    <h3 class="card-title">First of Its Kind</h3>
                    <p>The custom test is the first of its kind which allows students to design tests of their choice that include different difficulty levels and subjects.</p>
            </div>
            <div class="col-md-4 uniq">
                <img src="../../assets/images/uni3.png">
                <h3 class="card-title">Unique Approach</h3>
                <p>When you skip any questions, those unanswered questions will follow you through a series of tests until you answer them. This approach encourages students to practice more and gain more confidence to attempt harder questions.</p>
        </div>
         </div>
     </div>
 </section>

 <section class="contact">
     <div class="container">
         <div class="row">
             <div class="col-md-12" style="text-align: center;">
                <h2 class="offerhead" style="color:#000; ">Contact us </h2>
             </div>
         </div>

         <div class="row us">
             <div class="col-md-5 form">
               
                <input type="email" id="cs_email" class="form-control1" placeholder="Your email address ">
             </div>
             <div class="col-md-5 form">
                <input type="text" id="cs_name" class="form-control1" placeholder="Full Name ">
             </div>
         </div>
         <div class="row us">
            <div class="col-md-5 form">
                <input type="text" id="cs_mobile" class="form-control1" placeholder="Mobile No " style="margin-top: 25px;">
            </div>
            <div class="col-md-5 form">
                <textarea id="cs_message" class="form-control1" placeholder="Message"></textarea>
            </div>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <button class="btn-block greenbtn " (click)="contactsave()" type="button">Submit</button>
         </div>
     </div>
 </section>

 <section class="question">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                <h2 class="offerhead" style="color:#000; text-align:center; padding: 12px;"> Frequently Asked Quetions </h2>
                


                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            1.      How can I get most of PI Academy for my Preparation? 
                        </mat-panel-title>
                        <mat-panel-description>
                          
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        
                        </mat-panel-title>
                        <mat-panel-description>
                  
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    Here, you can find 5 types of Test series namely Practice Tests, Previous Year Papers, Pre-scheduled Tests, Mock Tests, and Custom Tests. </p>
                      <ul class="faqs">
                        <li> In practice tests, you can find numerous questions from each subject/chapter or topic of a subject. You can also choose levels of the test like easy, medium, and hard. It helps you to gradually improve your ability to answer questions of all levels. </li>
                        <li>By exploring the papers from previous years, you can know the pattern and level of difficulty of an actual examination.</li>
                        <li>The pre-scheduled tests allow you to take up the tests of particular subjects on a monthly basis. Therefore, you can know where you are standing in that subject. </li>
                        <li>Mock Tests make you aware of your areas of strengths and weaknesses in a particular subject or a particular topic in a subject. </li>
                        <li>Custom Tests are the ones that can be designed by students on their own to enhance their performance in the subject of their choice. </li>
                      </ul>
                    </mat-expansion-panel>
                  </mat-accordion>
                  
                
                
                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            2.      For which examinations these practice tests are available?  
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- <p>This is the primary content of the panel.</p> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <!-- Self aware panel -->
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    These practice tests are available for NEET, JEE, ABC, PQR, XYZ, etc. </p>
                    </mat-expansion-panel>
                  </mat-accordion>

                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            3.      How do I create an account? 
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- <p>This is the primary content of the panel.</p> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <!-- Self aware panel -->
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    You can create an account either by using your email id or by mobile number. An OTP will be sent to your email id/mobile number to complete the registration. </p>
                    </mat-expansion-panel>
                  </mat-accordion>



                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            4.      Does PI Academy cover all the chapters in the test series? 
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- <p>This is the primary content of the panel.</p> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <!-- Self aware panel -->
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    Yes. All the chapters according to the syllabus of respective examination boards are covered in the test series. </p>
                    </mat-expansion-panel>
                  </mat-accordion>



                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            5.      How many mock tests are conducted in a month? 
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- <p>This is the primary content of the panel.</p> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <!-- Self aware panel -->
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    You can take 1-2 Mock Tests per month. </p>
                    </mat-expansion-panel>
                  </mat-accordion>

                 

                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            6.      What happens if I have missed any pre-scheduled tests? Can I retake the test? 
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- <p>This is the primary content of the panel.</p> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <!-- Self aware panel -->
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    No, you can’t retake the pre-scheduled test if you missed it. Instead, you can go through the questions and answers of that test. </p>
                    </mat-expansion-panel>
                  </mat-accordion>


                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            7.      How can I access PI Academy? 
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- <p>This is the primary content of the panel.</p> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <!-- Self aware panel -->
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    You can visit PI Academy’s website. </p>
                    </mat-expansion-panel>
                  </mat-accordion>

                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            8.      How can I contact the PI Academy Support team? 
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- <p>This is the primary content of the panel.</p> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <!-- Self aware panel -->
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    For customer support, please contact Customer Service by tapping on the customer support link available in the PI Academy webpage or by using the following link: <a href="#"> https://www.xxx/yyy/zzz </a> </p>
                    </mat-expansion-panel>
                  </mat-accordion>

                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            9.      What can I do if I forgot the password of my account? 
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- <p>This is the primary content of the panel.</p> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <!-- Self aware panel -->
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>A.    You can click on the ‘forgot password’ link right below the sign-in box. Then you will get the required instructions to be followed to reset your password to your mail-id. </p>
                    </mat-expansion-panel>
                  </mat-accordion>


                </div>
         </div>
     </div>
 </section>
 <ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/dhoni3.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/dhoni.png" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/dhoni1.webp" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/dhoni1.webp" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/dhoni1.webp" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/dhoni1.webp" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/dhoni1.webp" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>

 <app-footer></app-footer>
 

 