<div class="slider-section-03 csexam">
    <div class="container">
       <div class="row ">
          <div class="col-md-8 ">
             <div class="slider-content cont12 slidess">
                <a routerLink="/dashboard"><div><i class="fa fa-arrow-left"></i></div></a>
              <div>
                <h2 class="title" style="padding-bottom:5px;">GENERAL INSTRUCTIONS</h2>
               <div class="sub-title1" style="color: #707070;"> Please read the instructions carefully</div> </div>
             </div>
          </div>
       </div>
    </div> 
 </div>


 <div class="blog-wrapper-02 terms inss">
     <div class="container">
    <div class="row ">

         <form action="test.php?typeid=MQ==&amp;typename=QUxMIElORElBIE1PQ0sgVEVTVA==&amp;&amp;" method="post" id="instructionProceed">
       <ul class="ins">
          <li style="    margin-top: 130px;">
             <span class="no1">1</span>
             <div>Total duration of NEET - All india mock test 2 is 180 Min  .</div>
          </li>
          <li>
             <span class="no1">2</span>
             <div>The clock will be set at the server. The countdown timer in the top right corner of screen will display the remaining time available for you to complete the examination. When the timer reaches zero, the examination will end by itself. You will not be required to end or submit your examination.</div>
          </li>
          <li>
             <span class="no1">3</span>
             <div>The Questions Palette displayed on the right side of screen will show the status of each question using one of the following symbols:</div>
          </li>
          <ul class="ins2">
             <li> <span class="notvisit ntvisit">0</span>You have not visited the question yet</li>
             <li><span class="notvisit ansed">0</span>You have answered  question</li>
             <li><span class="notvisit ntans">0</span>You have not answered this question</li>
             <li><span class="notvisit ntansmrkques">0</span>You have NOT answered the question, but have marked the question for review</li>
             <li><span class="notvisit ansmrkques ">0</span>You have answered the question, but have marked the question for review</li>
             <!--<li><span class="notvisit  ">0</span>The questions(s) "Answered and marked for Review" will be considered for evalution</li>-->
             <li><span class="notvisit actans">0</span>You are active on the question that needs to answer</li>
           </ul>
          
          <!-- <li>
             <span  class="no1">4</span>
             <div style="line-height: 30px;">You can click on the <span class="nextbtn">Next <i class="fa fa-angle-right icon5"></i></span> arrow which apperes to the left of question palette to collapse the question palette thereby maximizing the question window. To view the question palette again, you can click on  <i class="fa fa-angle-left icon4"></i> which appears on the right side of question window.</div>
          </li> -->
          <li>
             <span class="no1">4</span>
             <div><strong>Bookmark :</strong> You can save a question in your bookmark library for future reference by clicking on the ‘Bookmark’ button.</div>
          </li>
          <li>
             <span class="no1">5</span>
             <div><strong>Report Issue :</strong> You can raise a ticket if you encounter any problem while attempting an examination by using the ‘Report Issue’ button which is right below the options.</div>
          </li>
          <li>
             <span class="no1">6</span>
             <div><strong>Leave Test :</strong> Due to any reason, if you want to exit from the test in the middle, you can simply click on the ‘Leave Test’ button.</div>
          </li>
          <li>
             <span class="no1">7</span>
             <div><strong>Save and Previous/Save and Next :</strong> You can switch between the current and the previous question or the next question by using the options ‘Save and Previous’ and ‘Save and Next’ without deselecting the option you choose.</div>
          </li>
          <li>
             <span class="no1">8</span>
             <div><strong>Mark for Review :</strong> You can mark any of the questions for review either to answer later or to check the option you choose before submitting the test.</div>
          </li>
          <li>
             <span class="no1">9</span>
             <div><strong>Clear :</strong> To deselect the option you choose, you have to click the ‘Clear’ button.</div>
          </li>
          <li>
             <span class="no1">10</span>
             <div><strong>Submit Test :</strong> After answering all the questions, you can submit your answers by clicking on the button, ‘Submit Test’.</div>
          </li>

          <div class="imp">
             <img src="../../assets/images/imp.svg">
             <div class="imptxt">Please note all questions will appear in your default language. This language can be changed for a particular question later on.</div>
          </div>
       </ul>
       <div class="gen">
          <div> <input type="checkbox" class="chek" id="instructionCheck"></div>
          <div>I have read and understood the instructions. All computer hardware allotted to me are in proper working condition. I declare that I am not in possession of / not wearing / not carrying any prohibited gadget like mobile phone, bluetooth devices etc. /any prohibited material with me into the Examination Hall.I agree that in case of not adhering to the instructions, I shall be liable to be debarred from this Test and/or to disciplinary action, which may include ban from future Tests / Examinations</div>
       </div>
       
      

          <input type="hidden" name="t_id" value="8">
          <input type="hidden" name="t_name" value="All india mock test 2">
          <input type="hidden" name="t_time" value="180">

          <input type="hidden" name="typeid" value="MQ==">
          <input type="hidden" name="typename" value="QUxMIElORElBIE1PQ0sgVEVTVA==">
           <!-- <div class="proceed" type="submit" >Proceed</div> -->
           <button class="proceed greenbtn loadgif" id="proceed" type="submit" routerLink="/mock5">Proceed</button>
       </form>
    </div>
    </div>
 </div>