.about-content {
    margin-top: 90px;
    max-width: 520px;
    margin-left: auto;
}
.about-content li{
    list-style: none;
}
// .about-content ul li::before {
//     position: absolute;
//     content: '\f00c';
//     font-family: "FontAwesome";
//     top: 0;
//     left: 0;
//     color: #52bd94;
// }