<app-header></app-header>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>About us </h3>
                <p>Pi-academy is a unique preparation platform for Engineering and Medical Entrance Exams that helps students to achieve their goals by providing additional care and assistance through highly dedicated features and tools. </p>
                <p>Our sole purpose is to provide a clear roadmap for students who want to get a seat in their dream engineering or medical college with a pre-designed test series and in-depth performance analysis of each student.</p>

            </div>
        </div>
    </div>
</section>

<section class="unique">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Why we are unique?</h3>
                <p>Students can get a detailed analysis of their performance regarding a particular subject or chapter or topic at each stage in his /her journey at Pi-academy. We provide each student with a unique dashboard where they can get their statistics updated from time to time. This allows them to gain a clearer understanding of their strengths and weaknesses.</p>
                <p>Therefore, they can prepare accordingly to become well versed in all the subjects. As a result, they can achieve their goal score, pass the entrance exam and get a seat in the college of their interest.</p>

            </div>
        </div>
    </div>
</section>

<section class="highlet">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/high.png">
            </div>
            <div class="col-md-6">
<div class="about-content">
    <h3>Highlight features of Pi-academy:</h3>
    <ul>
        <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            You can choose the <span class="orange greentxt" style="font-weight: bolder;">level of questions</span> from easy to tough. It allows you to climb the ladder of excellence to gain the ability to deal with the hardest questions in real-time.</li>
        <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            The <span class="orange greentxt" style="font-weight: bolder;">custom test</span> is the first of its kind which allows students to design tests of their choice that include different difficulty levels and subjects.</li>
        <li>
            <i class="fa fa-check" aria-hidden="true"></i> 
            When you <span class="orange greentxt" style="font-weight: bolder;">skip any questions,</span> those unanswered questions will follow you through a series of tests until you answer them. This approach encourages students to practice more and gain more confidence to attempt harder questions.</li>
      </ul>
</div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

<!-- <div class="container">
    <h3 class="mt-2">{{ title }}</h3>
    <div class="row">
      <div class="col-sm">
        <div id="barChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        <h5 class="card-title text-center">Bar Chart - Population</h5>
      </div>
      <div class="col-sm">
        <div id="pieChart" style="width:100%; height:400px;"></div>
        <h5 class="card-title text-center">Pie Chart - Browser market</h5>
      </div>
    </div>
    </div> -->