<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="slider-content  termss">
                <h2 class="title">Terms of Service </h2>
                <p class="greentxt">Read our terms below to learn more about your rights and responsibilities as a Csprepare user.</p>
              </div>

              <div class="terms">
                <h4>User Policy</h4>
               
                <p>Welcome to Pi-academy, an online preparation platform created exclusively for popular entrance exams like NEET, JEE, etc. to assist students in getting a seat in their dream college, which is operated by <b><a href="http://betax.csprep.in/contact.php">http://betax.csprep.in/contact</a></b> (also referred to as CS Prep). By using Pi-academy, you agree to abide by the following terms and conditions. None of these Terms of Service are intended to provide any rights to the Third-Party Beneficiary.</p>
                             
          </div>

          <div class="terms">
            <h4>Registration</h4>
           
        <p>If you would like to access our platform, you will be asked to create an account by username and password and provide us with specific information. This information is collected, stored, and processed in accordance with our Privacy Policy <b><a href="http://betax.csprep.in/contact.php">(http://betax.csprep.in/contact).</a></b></p>
                  <p>If permitted by Pi-academy, you may register on the platform using your current accounts using Facebook, Google, or any other account connected through Pi-academy and their respective log-in credentials.</p>
                  <p>In connection with registering for and use of the Service, you agree: </p>
                  <ul>
                        <li>to provide accurate, current, and complete information about yourself as requested by Pi-academy;</li>
                        <li>to maintain your password privacy and other information related to your account security;</li>
                        <li>to maintain and immediately update any registration information you provide to the Pi-Academy during registration or use of your Service and keep such information accurate, up-to-date, and complete; be fully responsible for all use of your account and for any actions that take place through your account; and</li>
                        <li>to be in contact with Pi-academy via emails, phone calls, and/or SMS notifications for verification and communication purposes. </li>
                        <li>that you are only entitled to create and use one account with one username. You are not allowed to register or create an account on behalf of any organization other than you.</li>
                        <li>not to register and use an account with an identity that is fraudulent or use another user’s account without the permission of the User.</li>
                     </ul>
                     <p>In the event that any mandatory information is not provided, the registration will be deemed incomplete and the use of the Service may be restricted or prevented. By registering, you are assuring that all information you provide now or in the future is accurate.</p>
                  <p>If you have already registered for the Pi-academy account, you may use your existing credentials to access the App and/ or the Services.</p>
                         
      </div>

      <div class="terms">
        <h4>Eligibility</h4>
       
         <p>Use of the Service is available only to persons who can enter into a legally binding contract under the Indian Contract Act, 1872. By using the Service, you represent and guarantee that you have the authority and capacity to abide by this Agreement.</p>
           <p>This service is only available to<br> (a) Pi-Academy customers in India;<br> (B) who set India as their current country in their pie-academy account setting; <br>(C) who have a billing address in India; and<br> (d) those who have approved the Pi-Academy Terms and Conditions and the Pi-Academy Privacy Policy.</p>
                     
  </div>

  <div class="terms">
    <h4>Access</h4>
   
     <p>The decision to grant access to the services offered by Pi-academy is the exclusive right of the site and in this case, its decision is final and binds on the proposed user. In the event of non-compliance with the terms and conditions of the present Agreement or any copyright infringement, the Customer agrees that Pi-Academy reserves the right to refuse access to its Services or to terminate any Services necessary to the trademark or other valuable proprietary rights as described in this Agreement.</p>
       <p>To use the Service, users must access the World Wide Web directly or through devices that access web-based content and pay service fees associated with such access. Additionally, the user must have all the equipment needed to make such a connection to the World Wide Web, including a computer and modem or other access devices; it is not part of the service.</p>
                 
</div>


<div class="terms">
    <h4>User Content</h4>
   
<p>Some items or elements on the site contain material submitted by users. Pi-academy does not accept any liability in accordance with the applicable laws of the material and the contents, accuracy, and such material.</p>
         
          <ul>
           <li>You are solely responsible for your information, content, messages, or other information related to the Pi-academy account that you submit, publish or display on any other Pi-academy sites or send to other users.</li>
                <li>By posting user content on any of the Pi-academy sites, you're automatically granting and assuring that you have the right to grant Pi-academy a full license to use, copy, maintain, or pay for it,  display and distribute such user content in any medium now known or created in future for any purpose.</li>
                <li>You agree that Pi-academy reserves the right to reject, remove, modify, move or block any user content provided by Pi-academy. However, it is your responsibility to specify the accuracy and precision of the user content.</li>
                <li>You agree not to upload any content which is contrary to the terms and conditions of Pi-academy’s Content Guidelines, Privacy Policy, or any other contents of the Company Policy which may be updated from time to time. If such content is uploaded, you should ensure that such content is immediately removed from Pi-academy services and your account.</li>
             </ul>
           
</div>

<div class="terms">
    <h4>Content Posted on the Platform</h4>
   
      <ul>
          <li>You understand that any material, content, and its arrangements that appear as “Pi-academy content” or content that is owned by or licensed to Pi-academy, subject to copyright or other Intellectual Property Rights held by third parties. Accessing or using Platform does not give you ownership of any Intellectual Property Rights of Pi-academy.</li>
                <li>The Content posted on the Platform is made available to you solely for academic purposes and for such other purposes as may be expressly permitted by Pi-academy.</li>
                <li>You are not permitted to download, copy, photoshoot, or circulate any part or portion of the Content offered on the Platform.</li>
             </ul>
                 
</div>

<div class="terms">
    <h4>Pi-academy Licence Grant</h4>
   
      <p>Pi-Academy grants you a personal, limited, non-exclusive, non-transferable, non-sublicensed, revocable license to access the Platform, subject to the terms and conditions of these Terms of Use. We do not grant you any other rights over the Platform, except for limited access and use of these Terms of Use. </p>
       <p>By this means you represent and guarantee that you will not use any activities, mechanisms, or tools (software or hardware) that may interfere with the Platform or any of the Pi-Academy services, subject to your use of the Platform.</p>
                 
</div>

<div class="terms">
    <h4>Pi-academy Site Restrictions and Liability:</h4>
   
        <p>You agree, undertake, and assure that you are strictly governed by the following binding principles while using the platform and you agree not to:</p>
              <ul>
          <li>break, damage, or interfere with any security feature of our platform or attempt to do so.</li>
              <li>modify any content on our Platform other than user content or information you submit or post through the Platform.</li>
              <li>harass or annoy anyone using or attempting to use an automated system, software, or device to create and transmit communications to or from the Platform.</li>
              <li>upload, post, transmit, share, or disseminate any computer software, viruses, or any other illicit material or any material containing any software code that may interfere with the operation of hardware or telecommunications equipment.</li>
              <li>upload, edit, publish, post, broadcast, or share content that is racially abusive or offensive defamatory, pornographic, sexually explicit, pornographic, paedophilic or any material that violates the privacy of another person; Contrary to the laws in force.</li>
              <li>use the Platform for any commercial use as it is intended for personal and non-commercial use only with our prior written permission.</li>
              <li>make unsolicited offers, advertisements, suggestions, or sending junk mail or spam to other users on the platform.</li>
              <li>communicate any information knowingly and intentionally that misleads the addressee about the source of the message.</li>
             </ul>
                 
</div>

<div class="terms">
    <h4>Liability:</h4>
   
      
              <ul>
           <li>Pi-Academy will not be liable under any circumstances for any indirect, incidental, consequential, exclusive, or ideal damages arising out of or in connection with the use of the Pi-Academy service unless the Pi-academy indicate the possibility of such damages.</li>
             </ul>
                 
</div>

<div class="terms">
    <h4>Indemnification</h4>
   
      <p>To the maximum extent permitted by applicable law, you agree to protect and maintain any damages, costs incurred by Pi-academy and its subsidiaries, directors, agents, and employees, and third parties affiliated with the platform, including reasonable attorneys. Fees arising out of or in connection with your infringement or breach of these Terms of Use.</p>
                 
</div>
<div class="terms">
    <h4>Copyright and Trademarks</h4>
   
       <p>The Service and all accompanying materials are copyright protected by Pi-academy. All rights of Pi-academy logos or registered trademarks are reserved and owned by Pi-academy or its affiliates.</p>
                 
</div>

<div class="terms">
    <h4>Termination</h4>
   
      <p>Pi-academy, at its sole discretion, may immediately terminate, restrict or suspend your account, delete your registration, other information, or user content, and/or restrict you from using or accessing the Platform without any notice if you infringe. Terms of this Terms of Use.</p>
                 
</div>

<div class="terms">
    <h4>Representation and Warranties</h4>
   
     <p>You represent, and guarantee, that you have the right, license, authority, or permission to post, upload or publish any video, image, text, software, information, or any other content on the Platform through the message feature. </p>
                 
</div>

<div class="terms">
    <h4>Complaints and Grievances</h4>
   
      <p>You agree to the use of the Platform and any related materials or services at your sole discretion and we will not be liable for any offensive, obscene, or offensive content. All complaints should be emailed to <b> <a href="mailto:support@piacademy.com">support@piacademy.com</a></b></p>
                 
</div>




        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
<section class="foot">
<div class="container">
   <div class="row">
       <div class="col-md-12">
        <div class="footlink">
            <ul class="links5">
                <li><a href="">FAQ</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Terms &amp; Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
              </ul>
              <div class=" right">
                <p>2021 © PI Academy, All Right Reserved.</p>
              </div>
            </div>
       </div>
   </div>


</div>

</section>














