.termss {
    border-bottom: 1px solid #eee;
    align-items: center;
}
.slider-content .title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-transform: none;
    line-height: 30px;
    margin-top: 30px;
}
h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.slider-content p {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
  
}
.greentxt {
    color: #52bd94!important;
}
.terms {
    padding-bottom: 10px;
}
.terms h4 {
    padding-bottom: 10px;
}
h4 {
    font-size: 18px;
}
.terms p {
   
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.terms ul {
    padding-bottom: 10px;
}
.links5 {
   
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #000;
}
.footlink .links5 li {
    float: left;
    padding-right: 30px;
    list-style: none;
   color: black;
}
.right {
    text-align: right;
}
.links5 a{
    text-decoration: none;
    color: black;
}
.foot{
    background: #f2f2f2;
}

