<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="slider-content  termss">
                <h2 class="title">Privacy Policy</h2>
                <p class="greentxt">Read our Privacy Policy below to learn more about your rights and responsibilities as a PI Academyare user.</p>
              </div>

              <div class="terms">
                <h4>Personal Information</h4>
          <p>Personal information includes your name, address, mailing address, telephone number, email ID, password, transactional information, and information that you enter into our system while using the application/services/products, such as asking questions, participating in discussions, and taking tests.</p>
                     
                      <ul>
                           <li>We do not sell, share or rent your personal information to any third party unless you explicitly authorize us to do so in writing or electronically. Any emails and/or SMS sent via Pi-academy will only apply to the Assignment of Accepted Services and Products and to this Privacy Policy.</li>
                          <li>We reserve the right to communicate with any third party who makes a legally-favorable request to disclose your personal information.</li>
                          <li>We restrict access to your information only to authorized employees who need to know the specified information.</li>
                         </ul>
                        
                             
          </div>

          <div class="terms">
            <h4>Cookies</h4>
           
              <p>A "cookie" is a small piece of information stored by a web server in a web browser so it can be read back from that browser. Pi-academy uses cookies and tracking technology depending on the features provided. Personal information is not collected through cookies and other tracking technology; however, if you have previously provided personally identifiable information, cookies may be associated with such information. This only applies to the website.</p>
                         
      </div>

      <div class="terms">
        <h4>Security</h4>
       
           <p>Once your information is in our possession we adhere to strict security guidelines and protect it from unauthorized access. Please note that while we strive to provide reasonable security for the information we process and maintain, no security system can prevent all potential security breaches.</p>
                     
  </div>

  <div class="terms">
    <h4>Consent</h4>
   
      <p>By using the Pi-academy and/or registering on the Pi-academy, you agree to collect and use the information you disclose on the Pi-academy in accordance with this Privacy Policy, not limited to your consent to share your information under this Privacy Policy.</p>
                 
</div>




        </div>
    </div>
</div>

<section class="foot">
    <div class="container">
       <div class="row">
           <div class="col-md-12">
            <div class="footlink">
                <ul class="links5">
                    <li><a href="">FAQ</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Terms &amp; Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                  </ul>
                  <div class=" right">
                    <p>2021 © PI Academy, All Right Reserved.</p>
                  </div>
                </div>
           </div>
       </div>
    
    
    </div>
    
    </section>













