.head{
  height: 100px;
  width: 100%;
  background-color: bisque;
}
.head img{
  height: 50px;

}
.example-container {
    // width: 500px;
    height: 800px;

  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
   position: fixed;
  }
  .example-sidenav {
    background: #192b69;
    height: 950px;
  }
  
  
  .example-sidenav {
    padding: 20px;
    position: fixed;
  }


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.top-header1 {
  display: flex;
  background: #fff;
  // box-shadow: 0 12px 48px rgb(26 33 52 / 11%);
  align-items: center;
}
.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  /* padding: 10px 0px; */
  border-bottom: 1px solid #EEEEEE;
}
.header-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  flex: 5%;
  justify-content: end;
  margin-right: 20px;
}
.neetdrop {
  border: 1px solid #eee;
  padding: 2px 10px;
  border-radius: 4px;
  width: 180px;
  margin-bottom: 0;
}
.main-menu1 {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.main-menu1 li {
  float: left;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #525252;
  list-style: none;
}
#main1 {
  /* margin-right: 10px; */
  margin: 0px 20px 0px 0px;
}

.open_chatbox {
  padding-right: 10px;
  position: relative;
}
.note_cnt {
  height: 10px;
  width: 10px;
  background: #ff3e00;
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 50;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
.bell {
  background-image: url(../../assets/images/bell.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 9px 11px;
  width: 40.5px;
  height: 39.5px;
  border-radius: 6px;
}
.header-login {
  align-items: center;
}
.dropdown3 {
  position: relative;
  display: inline-block;

 
}
.link2{
  background-color: #fff;
  border: 0px;
}
.header-toggle button {
  background: none;
  border: 0;
  padding: 0;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}
.link2 span {
  border-bottom: 4px solid #192b69;
  padding-bottom: 10px;
  font-size: 14px;
}
.link2 i {
  padding-left: 10px;
  border-bottom: 4px solid #f2f2f2;
  padding-bottom: 13px;
}



.nav {
  width: 100%;
  flex-direction: column;
}
#sidebar ul li {
  padding: 10px 30px;
  display: block;
  color: #707070;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}
.example-sidenav ul li:hover{
  background-color: #52bd94;
  border-radius: 10px;
}
.example-sidenav ul li{
  padding: 12px;
}
.sdbar ul li a {
  color: #fff!important;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 10px;
  border-radius: 8px;
}
a {
  color: #fff!important;
  text-decoration: none!important;
}
  .card{
    max-width: 800px;
    margin: 0 auto;
    padding:  10px;
  }
  li{
    list-style: none;
    cursor: pointer;
    margin: 10px 0;

  }
 .card li:hover{
    border: 1px solid blue;
  }
  ol{
    padding: 0px;
  }
  .test{
    margin-top: -6px;
    height: 450px;
    width: 400px;
    background-color: #ffff;
    box-shadow: 0 12px 48px rgb(26 33 52 / 8%);
   
  }
  .test1{
    margin-top: -205px;
    height: 249px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 12px 48px rgb(26 33 52 / 8%);
    margin-left: 20px;
  }
  .test2{
    margin-top: -6px;
    height: 400px;
    width: 400px;
    background-color: #fff;
    margin-left: 0px;
  }
  .test h3{
    text-align: center;
    padding: 10px;
    font-weight: 600 !important;
    font-size: 1.275rem;
  }
  .test1 h3{
    text-align: center;
    padding: 10px;
    font-weight: 600 !important;
    font-size: 1.275rem;
  }
  .v{
    display: flex;
    border-bottom: 1px dashed #F5F8FA;;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .v img{
    padding: 10px;
    background: #52bd94;
    border-radius: 10px;
    margin-left: 11px;
    height: 45px;
  }
  .v h4{
    margin-left: 12px;
    margin-top: 10px;
    color: #707070!important;
  }

  .v span{
   margin-left: 40px;
  margin-top: 13px;
  cursor: pointer;
  }
 .test1 .v span{
    margin-left: 11px;
   margin-top: 13px;
   }

   
   
   .example-accordion {
    display: block;
    max-width: 500px;
  }
  
  .example-accordion-item {
    display: block;
    
  }
  
  .example-accordion-item + .example-accordion-item {
    border-top: none;
  }
  
  .example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    color:#fff;
  }
  
  .example-accordion-item-description {
    font-size: 0.85em;
    color: #fff;
  }
  
  .example-accordion-item-header,
  .example-accordion-item-body {
    padding: 16px;
  }
  
  .example-accordion-item-header:hover {
    cursor: pointer;
  
  }
  
  .example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
   